<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="front/index.css">
    <link rel="stylesheet" href="front/reset.css">
</head>

<body>
<!-- 第一部分头部 -->


<div class="title">
    <!-- 头部左边 -->
    <div class="title-left">
        <div class="logo"></div>
        <div class="city">
            <p>成都 </p>
        </div>
        <div class="sprite1"></div>

    </div>
    <!-- 头部中间 -->
    <div class="title-center">
        <ul class="nav">
            <li><a href="">首页</a></li>
            <li><a href="">电影</a></li>
            <li><a href="">影院</a></li>
            <li><a href="">榜单</a></li>
            <li><a href="">热点</a></li>
        </ul>
    </div>
    <!-- 头部右边 -->
    <div class="title-right">
        <div class="title-right-center">
            <div class="search">
                <form action="" class="search1">
                    <input type="text" placeholder="找影视剧、影人、影院">
                </form>
                <div class="logo2"></div>
            </div>

        </div>
    </div>
    <div class="title-right-right">
        <div class="denglv"></div>
        <div class="sprite3"></div>
    </div>
</div>
<div class="index-03"></div>
<div class="zhuti">
    <!-- 第二部分正在上映 -->
    <div class="reyin">
        <div class="reyin-left">
            <div class="reyin-left-top">
                <h1>正在热映(55部)</h1>
                <div class="reyin-left-top2">
                    <p>全部 &gt;</p>
                </div>
            </div>
            <!-- 热映图片部分 -->
            <div class="reyindianying1">
                <ul>
                    <li> <a href=""><img src="front/images/reying1.jpg" alt=""></a>
                        <p>购&nbsp票</p>
                    </li>
                    <li><a href=""><img src="front/images/reying2.jpg" alt=""></a>
                        <p>购&nbsp票</p>
                    </li>
                    <li><a href=""><img src="front/images/reying3.jpg" alt=""></a>
                        <p>购&nbsp票</p>
                    </li>
                    <li><a href=""><img src="front/images/reying4.jpg" alt=""></a>
                        <p>购&nbsp票</p>
                    </li>

                </ul>
            </div>
            <div class="reyindianying1">
                <ul>
                    <li> <a href=""><img src="front/images/reying5.jpg" alt=""></a>
                        <p>购&nbsp票</p>
                    </li>
                    <li><a href=""><img src="front/images/reying6.jpg" alt=""></a>
                        <p>购&nbsp票</p>
                    </li>
                    <li><a href=""><img src="front/images/reying7.jpg" alt=""></a>
                        <p>购&nbsp票</p>
                    </li>
                    <li><a href=""><img src="front/images/reying8.jpg" alt=""></a>
                        <p>购&nbsp票</p>
                    </li>

                </ul>
            </div>
        </div>
        <!-- 热映右边 -->
        <div class="reyin-right">
            <!-- 热映右边头部 -->
            <h2 class="title1"> 今日票房</h2>
            <div class="ranklist">
                <div>
                    <div class="ranklist1">
                        <div class="ranklist1-left">
                            <i><img src="front/images/jinri.jpg" alt="">
                            </i>
                        </div>
                        <div class="ranklist2-left">
                            <p class="jixieshi">机械师2：复活</p>
                            <p class="red">58290.2万</p>
                        </div>

                    </div>
                </div>
                <!-- <div ranklist-movie>
                <p class="ranklist3"><span class="shuzi">2</span><span>  <a href="">惊天破</a></span><span><a href="">24566.5万</a></span></p>

            </div> -->
                <div class="reyin-right-center">
                    <ul>
                        <li>
                            <span class="data1">2</span>
                            <span class="pianming"><a href="">惊破天</a></span>
                            <span class="bofangliang"><a href="">2023.35万</a></span>
                        </li>
                        <li>
                            <span class="data1">3</span>
                            <span class="pianming"><a href="">湄公河行动</a></span>
                            <span class="bofangliang"><a href="">2023.35万</a></span>
                        </li>
                        <li>
                            <span class="data">4</span>
                            <span class="pianming"><a href="">侠探杰克：永不回头</a></span>
                            <span class="bofangliang"><a href="">2023.35万</a></span>
                        </li>
                        <li>
                            <span class="data">5</span>
                            <span class="pianming"><a href="">龙珠Z：复活的佛利萨</a></span>
                            <span class="bofangliang"><a href="">2023.35万</a></span>
                        </li>
                        <li>
                            <span class="data">6</span>
                            <span class="pianming"><a href="">从你的全世界路过</a></span>
                            <span class="bofangliang"><a href="">2023.35万</a></span>
                        </li>
                        <li>
                            <span class="data">7</span>
                            <span class="pianming"><a href="">圆梦巨人</a></span>
                            <span class="bofangliang"><a href="">2023.35万</a></span>
                        </li>
                        <li>
                            <span class="data">8</span>
                            <span class="pianming"><a href="">凶手还未睡</a></span>
                            <span class="bofangliang"><a href="">2023.35万</a></span>
                        </li>
                        <li>
                            <span class="data">9</span>
                            <span class="pianming"><a href="">勇士</a></span>
                            <span class="bofangliang"><a href="">2023.35万</a></span>
                        </li>
                        <li>
                            <span class="data">10</span>
                            <span class="pianming"><a href="">遵义会议</a></span>
                            <span class="bofangliang"><a href="">2023.35万</a></span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 热映右边底部-->
            <div class="reyin-riht-bottom">

                <div class="reyin-riht-bottom-left">
                    <h4>今<br>日<br>大<br>盘</h4>
                </div>
                <div class="reyin-riht-bottom-right">
                    <ul>
                        <li><span class="damai"> 1.03 <span class="yi">亿</span></span>
                            <span class="more"><a href="">查看更多 &gt;</a></span>
                        </li>
                        <li>北京时间&nbsp;&nbsp;猫眼专业版实时数据</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!-- 第三部分即将上映 -->
    <div class="shangyin">
        <div class="shangyin-left">
            <div class="shangyin-left-top">

                <div class="shangyin-left-top1">
                    <h1>即将上映（276部）</h1>
                </div>
                <div class="shangyin-left-top2">
                    <p>全部&gt;</p>
                </div>
            </div>
            <div class="shangyin-left-center">

                <ul>
                    <li><a href=""><img src="front/images/jijiang1.jpg" alt=""></a>
                        <div class="zhushi">
                            <p class="xiangkan">134人想看</p>
                            <p class="yugao"> <span class="yugao1">预告片</span> <span>预售</span></p>
                            <p>10月26日上映</p>
                        </div>
                    </li>
                    <li><a href=""><img src="front/images/jijiang2.jpg" alt=""></a>
                        <div class="zhushi">
                            <p class="xiangkan">134人想看</p>
                            <p class="yugao"> 预告片|预售</p>
                            <p>10月26日上映</p>
                        </div>
                    </li>
                    <li><a href=""><img src="front/images/jijiang3.jpg" alt=""></a>
                        <div class="zhushi">
                            <p class="xiangkan">134人想看</p>
                            <p class="yugao"> 预告片|预售</p>
                            <p>10月26日上映</p>
                        </div>
                    </li>
                    <li><a href=""><img src="front/images/jijiang4.jpg" alt=""></a>
                        <div class="zhushi">
                            <p class="xiangkan">134人想看</p>
                            <p class="yugao"> 预告片|预售</p>
                            <p>10月26日上映</p>
                        </div>
                    </li>
                </ul>
                <div class="shangyin-left-center">
                    <!-- 第二行图片 -->
                    <ul>
                        <li><a href=""><img src="front/images/jijiang5.jpg" alt=""></a>
                            <div class="zhushi">
                                <p class="xiangkan">134人想看</p>
                                <p class="yugao"> 预告片|预售</p>
                                <p>10月26日上映</p>
                            </div>
                        </li>
                        <li><a href=""><img src="front/images/jijiang6.jpg" alt=""></a>
                            <div class="zhushi">
                                <p class="xiangkan">134人想看</p>
                                <p class="yugao"> 预告片|预售</p>
                                <p>10月26日上映</p>
                            </div>
                        </li>
                        <li><a href=""><img src="front/images/jijiang7.jpg" alt=""></a>
                            <div class="zhushi">
                                <p class="xiangkan">134人想看</p>
                                <p class="yugao"> 预告片|预售</p>
                                <p>10月26日上映</p>
                            </div>
                        </li>
                        <li><a href=""><img src="front/images/jijiang8.jpg" alt=""></a>
                            <div class="zhushi">
                                <p class="xiangkan">134人想看</p>
                                <p class="yugao"> 预告片|预售</p>
                                <p>10月26日上映</p>
                            </div>
                        </li>
                    </ul>


                </div>
            </div>
        </div>
        <div class="shangyin-right">
            <div class="shangyin-right-top">
                <p>
                    <span>最受期待</span>
                    <span> <a href="">查看完整榜单 &gt;</a></span>
                </p>
                <div class="shangyin-right-zhongjian">
                    <div class="shangyin-right-center">
                        <div><a href=""><img src="front/images/qidai1.jpg" alt=""></a></div>
                        <div class="rightwenzi">
                            <h1>三生三世十里桃花</h1>
                            <p class="time">上映时间：2016</p>
                            <p class="wantsee">29390人想看</p>

                        </div>
                    </div>
                    <div class="middle">
                        <div class="shangyin-right-zhongjian2">
                            <p>
                                <a href=""><img src="front/images/qidai2.jpg" alt=""></a>
                            </p>
                            <p class="daihao">奇异博士</p>
                            <p class="wantsee">12454人想看</p>


                        </div>
                        <div class="zhongjian3">
                            <p>
                                <a href=""><img src="front/images/qidai3.jpg" alt=""></a>
                            </p>
                            <p class="daihao">敢问路在何方
                                <link rel="stylesheet" href="style.css">
                            </p>
                            <p class="wantsee">12454人想看</p>
                        </div>


                    </div>
                    <div class="right-last">
                        <ul class="zhongjian5">
                            <li>
                                <span class="data">4</span>
                                <span class="pianming"><a href="">罗马假日</a></span>
                                <span class="bofangliang"><a href="">12345人想看</a></span>
                            </li>
                            <li>
                                <span class="data">5</span>
                                <span class="pianming"><a href="">阿甘正传</a></span>
                                <span class="bofangliang"><a href="">12345人想看</a></span>
                            </li>
                            <li>
                                <span class="data">6</span>
                                <span class="pianming"><a href="">泰坦尼克号</a></span>
                                <span class="bofangliang"><a href="">12345人想看</a></span>
                            </li>
                            <li>
                                <span class="data">7</span>
                                <span class="pianming"><a href="">龙猫</a></span>
                                <span class="bofangliang"><a href="">12345人想看</a></span>
                            </li>
                            <li>
                                <span class="data">8</span>
                                <span class="pianming"><a href="">教父</a></span>
                                <span class="bofangliang"><a href="">12345人想看</a></span>
                            </li>

                        </ul>

                    </div>
                </div>
                <div>

                </div>
            </div>

        </div>
    </div>
    <!-- 第四部分正在热播 -->
    <div class="rebo">
        <div class="rebo-left">
            <div class="rebo-left-top">
                <h1> 热播电影</h1>
                <div class="style">
                    <ul>
                        <li><a href="">爱情</a></li>
                        <li><a href="">喜剧</a></li>
                        <li><a href="">恐怖</a></li>
                        <li><a href="">动作</a></li>
                        <li><a href="">动画</a></li>

                    </ul>
                </div>

                <p class="all">全部&gt;</p>
            </div>

            <div class="container">
                <div>
                    <ul class="container1">
                        <li><a href=""><img src="front/images/rebo1.jpg" alt=""></a></li>
                        <li><a href=""><img src="front/images/rebo2.jpg" alt=""></a></li>
                        <li><a href=""><img src="front/images/rebo3.jpg" alt=""></a></li>
                    </ul>
                </div>
                <div>
                    <ul class="container1">
                        <li><a href=""><img src="front/images/rebo4.jpg" alt=""></a></li>
                        <li><a href=""><img src="front/images/rebo5.jpg" alt=""></a></li>
                        <li><a href=""><img src="front/images/rebo6.jpg" alt=""></a></li>
                        <li><a href=""><img src="front/images/rebo7.jpg" alt=""></a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="rebo-right">
            <p><span class="top100">TOP100</span><span class="chakan"><a href="">查看完整榜单&gt;</a></span></p>
            <div class="photo">
                <p><span><a href=""><img src="front/images/top.jpg" alt=""></a></span> </p>
                <p class="baiwang">

                    <span class="size">霸王别姬</span>
                    <span class="yellow">9.6分</span>
                </p>

            </div>
            <div class="end">
                <ul>
                    <li>
                        <span class="data1">2</span>
                        <span class="pianming"><a href="">申肖克的救赎</a></span>
                        <span class="bofangliang"><a href="">9.5分</a></span>
                    </li>
                    <li>
                        <span class="data1">3</span>
                        <span class="pianming"><a href="">这个杀手不太冷</a></span>
                        <span class="bofangliang"><a href="">9.5分</a></span>
                    </li>
                    <li>
                        <span class="data">4</span>
                        <span class="pianming"><a href="">罗马假日</a></span>
                        <span class="bofangliang"><a href="">9.5分</a></span>
                    </li>
                    <li>
                        <span class="data">5</span>
                        <span class="pianming"><a href="">阿甘正传</a></span>
                        <span class="bofangliang"><a href="">9.5分</a></span>
                    </li>
                    <li>
                        <span class="data">6</span>
                        <span class="pianming"><a href="">泰坦尼克号</a></span>
                        <span class="bofangliang"><a href="">9.5分</a></span>
                    </li>
                    <li>
                        <span class="data">7</span>
                        <span class="pianming"><a href="">龙猫</a></span>
                        <span class="bofangliang"><a href="">9.5分</a></span>
                    </li>
                    <li>
                        <span class="data">8</span>
                        <span class="pianming"><a href="">教父</a></span>
                        <span class="bofangliang"><a href="">9.5分</a></span>
                    </li>
                    <li>
                        <span class="data">9</span>
                        <span class="pianming"><a href="">唐柏虎点秋香</a></span>
                        <span class="bofangliang"><a href="">9.5分</a></span>
                    </li>
                    <li>
                        <span class="data">10</span>
                        <span class="pianming"><a href="">千与千寻</a></span>
                        <span class="bofangliang"><a href="">9.5分</a></span>
                    </li>
                </ul>

            </div>


        </div>
    </div>
</div>



<div class="footer">

    <p class="title">广播电视节目制作经营许可证 （京）字第08478号 网络文化经营许可证 京网文（2019）3837-369号

        猫眼用户服务协议 猫眼平台交易规则总则 隐私政策北京猫眼文化传播有限公司</p>

</div>
<!-- 第五部分底部 -->

<div></div>
</body>

</html>
