<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="front/login.css">
</head>

<body>
    <header>
        <img src="front/images/logo.png" alt="">
    </header>




    <section>
        <img src="front/images/login.png" alt="" class="big">

        <div class="load">

            <div class="lo1">
                <a href="">账号登录</a>
                <div class="lo2">
                    <a href="">手机动态码登录</a>
                    <i></i>
                </div>
            </div>

            <div class="input">
                <input type="text" placeholder=" ☺ 手机号/用户名/邮箱">
                <input type="password" placeholder=" ♠ 密码">
            </div>

            <div class="stian">
                <div>
                    <input type="radio" name="gender" id="yes">
                    <label for="yes">7天内自动登录</label>
                </div>
                <p>
                    <a href="">忘记密码?</a>
                </p>

            </div>


            <p class="deng">
                <a href="../个人中心和订单/center.html">登录</a>
            </p>

            <p class="no">还没有账号？
                <a href="../注册/注册.html">免费注册</a>
            </p>

        </div>

    </section>




    <footer>
        @2016 美团团购 meituan.com 京icp证0138号 京公网备案19928273700号 电子公告服务规则
    </footer>

</body>

</html>