* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
}

header {
    padding: 40px 0;
}

header>img {
    width: 230px;
    height: 45px;
    margin-left: 470px;
    /* margin-right: 1200px; */
}

section {
    display: flex;
    align-items: center;
    
    width: 800px;
    margin: 0 auto;
}

section>.big {
    width: 405px;
    height: 350px;
}

.load {
    margin-left: 125px;
    width: 270px;
}

.load>.lo1 {
    display: flex;
    justify-content: space-between;
}

.load>.lo1>a,.lo2>a {
    color: #666666;
}
.load>.lo1>a:hover{
    color: #e53035;
}
.lo2>a:hover{
    color: #e53035;
}
.load>.lo1>.lo2>i {
    display: inline-block;
    width: 10px;
    height: 13px;
    background-image: url('./img/sprite_webpage.png');
    background-position: -15px -59px;
}
.input>input{
    margin-top: 15px;
    width: 270px;
    height: 35px;
    border: 1px solid #aaaaaa;
}
.stian{
    margin: 10px 0 18px 0;
display: flex;
justify-content: space-between;

}
.stian>div>label{
    font-size: 10px;
}
.stian>p>a{
    font-size: 10px;
    color: #e53035;

}
.deng{
    border-radius: 3px;
    height: 34px;
    width: 270px;
    /* padding: 10px 120px; */
    background-color: #e53035;
    text-align: center;
}
.deng>a{
    line-height: 34px;
    color: aliceblue;
}
.no{
    margin-top: 10px;
}
.no>a{
    display: inline-block;
    color: #e53035;
    text-indent: -10px;

}
footer{
    text-align: center;
    font-size: 10px;
    color: #888888;
    margin-top: 80px;
    
}

















